page-dashboard {
    .cards {
        height: auto;
        //justify-content:flex-end !important;
        padding-left: 0px;
        padding-right: 220px;
        width:400px;
        text-align: left;
        font-weight: 500;
        text-transform: none;

    }

    .segment {
        justify-content: left;
    }

    .smallData {
        font-size: 12px !important;
        list-style-type: none;
    }

    ul {
        padding: 0;
    }

    .statusFilter {
        width: 307px;
        border: 5px !important; //not showing
    }
}
