page-dashboard {
    .cards {
        height: auto;
        //justify-content:flex-start !important; 
        padding-left: 0px;
        //padding-right: 150px;
        width:400px;
        text-align: left;
        font-weight: 500;
        text-transform: none;

    }

    .segment {
        justify-content: left;
    }

    .smallData {
        font-size: 14px !important;
        color: black !important;
        list-style-type: none;
    }

    ul {
        padding: 0;
    }

}
