<ion-header>
  <ion-navbar>
    <ion-title>
      Log In
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="credentialsForm">
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [formControl]="credentialsForm.controls['email']"
          type="email"></ion-input>
    </ion-item>

    <div *ngIf="!credentialsForm.controls.email.valid &&
      credentialsForm.controls.email.dirty"
      class="validator-error">
      Please enter a valid email.
    </div>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [formControl]="credentialsForm.controls['password']"
          type="password"></ion-input>
    </ion-item>

    <div *ngIf="!credentialsForm.controls.password.valid &&
        credentialsForm.controls.password.dirty"
        class="validator-error">
      Please enter a valid password.
    </div>

    <ion-row>
      <ion-col text-center>
        <button ion-button block [disabled]="!credentialsForm.valid" (click)="onSignIn()">
          Sign in
        </button>
      </ion-col>
    </ion-row>

    <div *ngIf="failedLogIn" class="validator-error">
      Log in failed.
    </div>
  </form>
</ion-content>
